.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer > div {
    width: 450px;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--background);
    border-bottom: 1px solid var(--border);
}

header h1 {
    font-size: 46px;
    color: var(--strong-text);
    font-weight: 500;
    margin-bottom: 20px;
}

.filteredVehicles {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}